@charset "UTF-8";
.App, .App .pagebody .Hello, .App .pagebody .About, .App .pagefoot .Menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .pagebody .Hello .timeText {
  font-size: 3.5rem;
  line-height: 5.6rem;
  font-weight: bold;
}

.App .pagebody .Hello .dateText, .App .pagebody .Hello .temp {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: bold;
}

.App .pagebody .About .AboutTitle {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: bold;
}

.App .pagebody .About .AboutSection {
  font-size: 1.2rem;
  line-height: 1.92rem;
}

.App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription, .App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
  font-size: 1rem;
  line-height: 1.6rem;
}

.App {
  /* 排列 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .pagebody {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App .pagebody > div {
  height: 100%;
}

.App .pagebody .Hello {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aquamarine;
  font-weight: bold;
  text-align: center;
}

.App .pagebody .About {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c57979;
}

.App .pagebody .About .AboutSection {
  width: 80%;
  padding: 15px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  background: rgba(238, 183, 183, 0.68);
  list-style: none;
}

.App .pagebody .About .AboutSection .AboutItemOn {
  max-height: 1000px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription {
  color: dimgray;
  word-break: break-all;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.App .pagebody .About .AboutSection .AboutItemOff {
  max-height: 1.2em;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
  word-break: break-all;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.App .pagefoot {
  height: 8%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: black;
}

.App .pagefoot .Menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.App .pagefoot .Menu a {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
}

/* 轉場效果 */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

/*天氣icon*/
.mainImg {
  max-height: 3rem;
  max-width: 3rem;
  margin-bottom: -0.3rem;
  margin-left: 2rem;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */