@charset "UTF-8";
.App, .App .pagebody .Hello, .App .pagebody .About, .App .pagefoot .Menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .pagebody .Hello .time_date_temp_container .timeText {
  font-size: 4.55rem;
  line-height: 8.19rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .App .pagebody .Hello .time_date_temp_container .timeText {
    font-size: 3.64rem;
    line-height: 6.552rem;
  }
}

@media screen and (max-width: 415px) {
  .App .pagebody .Hello .time_date_temp_container .timeText {
    font-size: 2.275rem;
    line-height: 4.095rem;
  }
}

.App .pagebody .Hello .time_date_temp_container .dateText, .App .pagebody .Hello .time_date_temp_container .temp {
  font-size: 2.6rem;
  line-height: 4.68rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .App .pagebody .Hello .time_date_temp_container .dateText, .App .pagebody .Hello .time_date_temp_container .temp {
    font-size: 2.08rem;
    line-height: 3.744rem;
  }
}

@media screen and (max-width: 415px) {
  .App .pagebody .Hello .time_date_temp_container .dateText, .App .pagebody .Hello .time_date_temp_container .temp {
    font-size: 1.3rem;
    line-height: 2.34rem;
  }
}

.App .pagebody .About .AboutTitle, .App .pagebody .Skills .SkillsDescription, .App .pagefoot .Menu {
  font-size: 1.95rem;
  line-height: 3.51rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .App .pagebody .About .AboutTitle, .App .pagebody .Skills .SkillsDescription, .App .pagefoot .Menu {
    font-size: 1.56rem;
    line-height: 2.808rem;
  }
}

@media screen and (max-width: 415px) {
  .App .pagebody .About .AboutTitle, .App .pagebody .Skills .SkillsDescription, .App .pagefoot .Menu {
    font-size: 0.975rem;
    line-height: 1.755rem;
  }
}

.App .pagebody .About .AboutSection {
  font-size: 1.56rem;
  line-height: 2.808rem;
}

@media screen and (max-width: 992px) {
  .App .pagebody .About .AboutSection {
    font-size: 1.248rem;
    line-height: 2.2464rem;
  }
}

@media screen and (max-width: 415px) {
  .App .pagebody .About .AboutSection {
    font-size: 0.78rem;
    line-height: 1.404rem;
  }
}

.App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription, .App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
  font-size: 1.3rem;
  line-height: 2.34rem;
}

@media screen and (max-width: 992px) {
  .App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription, .App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
    font-size: 1.04rem;
    line-height: 1.872rem;
  }
}

@media screen and (max-width: 415px) {
  .App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription, .App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
    font-size: 0.65rem;
    line-height: 1.17rem;
  }
}

.mainImg {
  max-height: 3.9rem;
  max-width: 3.9rem;
  margin-bottom: -0.39rem;
  margin-left: 2.6rem;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .mainImg {
    max-height: 3.12rem;
    max-width: 3.12rem;
    margin-bottom: -0.312rem;
    margin-left: 2.08rem;
  }
}

@media screen and (max-width: 415px) {
  .mainImg {
    max-height: 1.95rem;
    max-width: 1.95rem;
    margin-bottom: -0.195rem;
    margin-left: 1.3rem;
  }
}

/* @關鍵影格 動畫名稱 */
@-webkit-keyframes BigAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes BigAnime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.App {
  /* 排列 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .pagebody {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
}

.App .pagebody > div {
  height: 100%;
}

.App .pagebody .router-wrapper {
  overflow: hidden;
}

.App .pagebody .mailCat {
  max-height: 15%;
  max-width: 15%;
  position: absolute;
  z-index: 1;
  bottom: 12%;
  right: 1.5%;
  cursor: pointer;
  /*動畫名稱*/
  -webkit-animation-name: BigAnime;
          animation-name: BigAnime;
  /*動畫時間*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  /*撥放次數:無限次*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.App .pagebody .Contact {
  position: absolute;
  height: 22vmin;
  width: 33vmin;
  z-index: 2;
  right: -16%;
  bottom: 10%;
  background-color: #dee6f7;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
}

.App .pagebody .Contact .close {
  position: absolute;
  right: 0.3em;
  top: 0.05em;
  cursor: pointer;
}

.App .pagebody .ContactOff {
  right: -50%;
  -webkit-transition: right 0.8s ease-out;
  transition: right 0.8s ease-out;
}

.App .pagebody .ContactOn {
  right: 2%;
  -webkit-transition: right 0.8s ease-out;
  transition: right 0.8s ease-out;
}

.App .pagebody .Hello {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-align: center;
  background-image: url("../img/Hello_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App .pagebody .Hello .time_date_temp_container {
  position: relative;
  bottom: 10%;
  mix-blend-mode: difference;
  color: white;
}

.App .pagebody .Hello .time_date_temp_container .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .pagebody .Hello .time_date_temp_container .temp .weatherIcon {
  padding-left: 15px;
  font-size: 1.5em;
}

.App .pagebody .About {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/About_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App .pagebody .About .AboutSection {
  width: 80%;
  padding: 15px;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  background: rgba(255, 239, 239, 0.68);
  list-style: none;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.App .pagebody .About .AboutSection .AboutItemOn {
  max-height: 1000px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  cursor: pointer;
}

.App .pagebody .About .AboutSection .AboutItemOn > .AboutItemDescription {
  color: dimgray;
  word-break: break-all;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.App .pagebody .About .AboutSection .AboutItemOff {
  max-height: 1.6em;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  cursor: pointer;
}

.App .pagebody .About .AboutSection .AboutItemOff > .AboutItemDescription {
  word-break: break-all;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.App .pagebody .Skills {
  height: 100%;
  background-image: url("../img/Skills_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.App .pagebody .Skills canvas {
  overflow: scroll;
}

.App .pagebody .Skills .SkillsDescription {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 8%;
}

.App .pagefoot {
  height: 8%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: black;
}

.App .pagefoot .Menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .pagefoot .Menu div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .pagefoot .Menu a {
  text-decoration: none;
  color: aliceblue;
}

.App .pagefoot .Menu .MenuLink_on {
  background-image: url("../img/heart2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  text-align: center;
  font-size: 6.5rem;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 3.25rem;
}

/* 轉場效果 */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

/*天氣icon*/
/*# sourceMappingURL=style.css.map */