$fontsize: 1.3rem;    //基準文字大小
$lineheight: $fontsize * 1.7;     //基準行高
$padWidth: 992px;
$phoneWidth: 415px;
$tabletsize: 0.8;   //平板倍數
$phonesize: 0.5;    //手機倍數

@mixin tablet {
    @media screen and (max-width: $padWidth) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: $phoneWidth) {
        @content;
    }
}

//flexbox
%flexbox100 {
    height: 100%;  
    display: flex;
}

//各級字型大小
%fontlevel1{
    font-size: $fontsize * 3.5;
    line-height: $lineheight * 3.5 ;
    font-weight:bold;

    @include tablet {
        font-size: $fontsize * 3.5 * $tabletsize;
        line-height: $lineheight * 3.5 * $tabletsize;
    }
    @include phone {
        font-size: $fontsize * 3.5 * $phonesize;
        line-height: $lineheight * 3.5 * $phonesize;
    }
}

%fontlevel2{
    font-size: $fontsize * 2;
    line-height: $lineheight * 2;
    font-weight:bold;

    @include tablet {
        font-size: $fontsize * 2 * $tabletsize;
        line-height: $lineheight * 2 * $tabletsize;
    }
    @include phone {
        font-size: $fontsize * 2 * $phonesize;
        line-height: $lineheight * 2 * $phonesize;
    }
}

%fontlevel3{
    font-size: $fontsize * 1.5;
    line-height: $lineheight * 1.5;
    font-weight:bold;

    @include tablet {
        font-size: $fontsize * 1.5 * $tabletsize;
        line-height: $lineheight * 1.5 * $tabletsize;
    }
    @include phone {
        font-size: $fontsize * 1.5 * $phonesize;
        line-height: $lineheight * 1.5 * $phonesize;
    }
}

%fontlevel4{
    font-size: $fontsize * 1.2;
    line-height: $lineheight * 1.2;

    @include tablet {
        font-size: $fontsize * 1.2 * $tabletsize;
        line-height: $lineheight * 1.2 * $tabletsize;
    }
    @include phone {
        font-size: $fontsize * 1.2 * $phonesize;
        line-height: $lineheight * 1.2 * $phonesize;
    }
}

%fontlevel5{
    font-size: $fontsize * 1;
    line-height: $lineheight ;

    @include tablet {
        font-size: $fontsize * 1 * $tabletsize;
        line-height: $lineheight * 1 * $tabletsize;
    }
    @include phone {
        font-size: $fontsize * 1 * $phonesize;
        line-height: $lineheight * 1 * $phonesize;
    }
}

%iconsize{
    max-height: $fontsize * 3;
    max-width: $fontsize * 3;
    margin-bottom: $fontsize * -0.3;
    margin-left:  $fontsize * 2;
    z-index: -1;
    @include tablet {
        max-height: $fontsize * 3 * $tabletsize;
        max-width: $fontsize * 3 * $tabletsize;
        margin-bottom: $fontsize * -0.3 * $tabletsize;
        margin-left:  $fontsize * 2 * $tabletsize;
    }
    @include phone {
        max-height: $fontsize * 3 * $phonesize;
        max-width: $fontsize * 3 * $phonesize;
        margin-bottom: $fontsize * -0.3 * $phonesize;
        margin-left:  $fontsize * 2 * $phonesize;
    }
}

/* @關鍵影格 動畫名稱 */
@keyframes BigAnime {
    0%{
      transform: scale(1);
    }
    50%{
        transform: scale(1.1);
      }
    100%{
      transform: scale(1);
    }
}


.App {
    /* 排列 */    
    @extend %flexbox100;    
    flex-direction: column;

    .pagebody {
        flex: 1;
        overflow-x: hidden;

        > div{
            height: 100%;
        }

        .router-wrapper{
            overflow: hidden;
        }

        .mail {
            height: 8%;
            position:absolute;
            z-index: 1;
            top:80%;
            right: 4%;

            /*動畫名稱*/
            animation-name: BigAnime;
            /*動畫時間*/
            animation-duration: 2s;
            /*撥放次數:無限次*/
            animation-iteration-count: infinite;            
        }

        .Contact{
            position:absolute;
            height: 20%;
            width: 20%;
            z-index: 2;
            right: -16%;
            bottom: 10%;
            background-color: #dee6f7;
            border-radius: 0.2em;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);

            .close{
                position:absolute;
                right: 0.3em;
                top:0.05em;
            }
        }

        .ContactOff{
            right: -16%;           
            transition: right 0.5s ease-out;
        }

        .ContactOn{
            right: 2%;
            transition: right 0.5s ease-out;
        }

        .Hello {
            @extend %flexbox100;
            justify-content:center;
            align-items: center;
            font-weight:bold;
            text-align: center;
            background-image: url('../img/Hello_background.jpg');
            background-repeat:no-repeat;
            background-position: center; 
            background-size: cover;
            
            .time_date_temp_container{
                position: relative;
                bottom: 10%;
                mix-blend-mode: difference;
                color: white;
                .timeText{
                    @extend %fontlevel1;
                }
                .dateText{
                    @extend %fontlevel2;
                }
                .temp{
                    @extend %fontlevel2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .weatherIcon{
                        padding-left: 15px;
                        font-size: 1.5em;
                    }
                }
            }
        } 

        .About {         
            @extend %flexbox100;            
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // background-color:rgb(197, 121, 121);
            background-image: url('../img/About_background.jpg');
            background-repeat:no-repeat;
            background-position: center; 
            background-size: cover;
            .AboutTitle{
                @extend %fontlevel3;
            }

            .AboutSection{
                @extend %fontlevel4;

                width: 80%;
                padding: 15px;
                border-radius: 0.5em;
                box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
                background: rgba(255, 239, 239, 0.68);
                list-style: none;
                flex-basis: 40%;

                .AboutItemOn {
                  
                    max-height: 1000px;
                    transition: height 0.5s ease;

                    > .AboutItemDescription{
                        @extend %fontlevel5;
                        color: dimgray;
                        word-break: break-all;
                        transform-origin:50% 0%;
                        transform: scaleY(1);
                        transition: all 0.5s ease-out;
                    }
                }

                .AboutItemOff {
                    max-height: 1.2em;
                    transition: max-height 0.5s ease;

                    > .AboutItemDescription{
                        @extend %fontlevel5;
                        word-break: break-all;
                        transform-origin:50% 0%;
                        transform: scaleY(0);
                        overflow: hidden;
                        transition: all 0.5s ease-out;
                    }
                }
            }
        }

        .Skills {
           // @extend %flexbox100; 
            height: 100%;
            background-image: url('../img/Skills_background.jpg');
            background-repeat:no-repeat;
            background-position: center; 
            background-size: cover;
            position:relative;
            canvas {
                overflow: scroll;
            }

            .SkillsDescription{
                @extend %fontlevel3;
                position:absolute;
                z-index: 1;
                top:80%;
                left:8%;
            }
        }
    }

    .pagefoot {
        height: 8%;  
        width: 100%;
        align-self: flex-end;
        background-color: black;
        // border-style:double;

        .Menu {
            @extend %flexbox100;
            @extend %fontlevel3;
            justify-content:space-around;            

            div{
                flex: 1 1;
                display: flex;
                justify-content:center;
                align-items: center;
            }

            a {
                text-decoration:none;
                color: aliceblue;
            }

            .MenuLink_on{
                background-image: url('../img/heart2.png');
                background-repeat:no-repeat;
                background-position: center; 
                background-size:contain;
            }
        }
    }  
}

h1 {
    text-align: center;
    font-size: $fontsize * 5;
    margin-bottom: 0;
}
  
h3 { 
    text-align: center;
    font-size: $fontsize * 2.5;
}

/* 轉場效果 */
.fade-enter {
    opacity: 0;
  }
  
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
}
  
.fade-exit {
    opacity: 0;
}
  
.fade-exit-active {   
    opacity: 1;
    transition: opacity 500ms ease-out;
}

/*天氣icon*/
.mainImg {
    @extend %iconsize;
}
