$fontsize: 1rem;    //基準文字大小
$lineheight: $fontsize * 1.6;     //基準行高

//flexbox
%flexbox100 {
    height: 100%;  
    display: flex;
}

//各級字型大小
%fontlevel1{
    font-size: $fontsize * 3.5;
    line-height: $lineheight * 3.5 ;
    font-weight:bold;
}

%fontlevel2{
    font-size: $fontsize * 2;
    line-height: $lineheight * 2;
    font-weight:bold;
}

%fontlevel3{
    font-size: $fontsize * 1.5;
    line-height: $lineheight * 1.5;
    font-weight:bold;
}

%fontlevel4{
    font-size: $fontsize * 1.2;
    line-height: $lineheight * 1.2;
}

%fontlevel5{
    font-size: $fontsize * 1;
    line-height: $lineheight ;
}

.App {
    /* 排列 */    
    @extend %flexbox100;    
    flex-direction: column;

    .pagebody {
        flex: 1;
        overflow-y: scroll;
        overflow-x: hidden;

        > div{
            height: 100%;
        }  

        .Hello {
            @extend %flexbox100;
            justify-content:center;
            align-items: center;
            background-color: rgb(127, 255, 212);
            font-weight:bold;
            text-align: center;

            .timeText{
                @extend %fontlevel1;
            }
            .dateText{
                @extend %fontlevel2;
            }
            .temp{
                @extend %fontlevel2;
            }
        } 

        .About {         
            @extend %flexbox100;            
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color:rgb(197, 121, 121);

            .AboutTitle{
                @extend %fontlevel3;
            }

            .AboutSection{
                @extend %fontlevel4;

                width: 80%;
                padding: 15px;
                border-radius: 0.5em;
                box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
                background: rgba(238, 183, 183, 0.68);
                list-style: none;

                .AboutItemOn {
                  
                    max-height: 1000px;
                    transition: height 0.5s ease;

                    > .AboutItemDescription{
                        @extend %fontlevel5;
                        color: dimgray;
                        word-break: break-all;
                        transform-origin:50% 0%;
                        transform: scaleY(1);
                        transition: all 0.5s ease-out;
                    }
                }

                .AboutItemOff {
                    max-height: 1.2em;
                    transition: max-height 0.5s ease;

                    > .AboutItemDescription{
                        @extend %fontlevel5;
                        word-break: break-all;
                        transform-origin:50% 0%;
                        transform: scaleY(0);
                        overflow: hidden;
                        transition: all 0.5s ease-out;
                    }
                }
            }
        }
    }

    .pagefoot {
        height: 8%;  
        width: 100%;
        align-self: flex-end;
        background-color: black;

        .Menu {
            @extend %flexbox100;
            justify-content:space-around;
            align-items: center;
            font-size: $fontsize * 1;

            a {
                text-decoration:none;
                color: aliceblue;
            }
        }
    }  
}

h1 {
    text-align: center;
    font-size: $fontsize * 5;
    margin-bottom: 0;
}
  
h3 { 
    text-align: center;
    font-size: $fontsize * 2.5;
}

/* 轉場效果 */
.fade-enter {
    opacity: 0;
  }
  
.fade-enter-active {
    opacity: 1;
    transition: all 500ms ease-out;
}
  
.fade-exit {
    opacity: 0;
}
  
.fade-exit-active {
    opacity: 1;
    transition: all 500ms ease-out;
}

/*天氣icon*/
.mainImg {
    max-height: $fontsize * 3;
    max-width: $fontsize * 3;
    margin-bottom: $fontsize * -0.3;
    margin-left:  $fontsize * 2;
    z-index: -1;
}
